<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.owen.admin.mapper.LibiteminventoryinfoMapper">
  <resultMap id="BaseResultMap" type="com.library.owen.admin.model.Libiteminventoryinfo">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="CreationTime" jdbcType="TIMESTAMP" property="creationtime" />
    <result column="CreatorUserId" jdbcType="BIGINT" property="creatoruserid" />
    <result column="LastModificationTime" jdbcType="TIMESTAMP" property="lastmodificationtime" />
    <result column="LastModifierUserId" jdbcType="BIGINT" property="lastmodifieruserid" />
    <result column="ItemTid" jdbcType="VARCHAR" property="itemtid" />
    <result column="ItemEpc" jdbcType="VARCHAR" property="itemepc" />
    <result column="LayerId" jdbcType="VARCHAR" property="layerid" />
    <result column="Antenna" jdbcType="VARCHAR" property="antenna" />
    <result column="InventoryState" jdbcType="TINYINT" property="inventorystate" />
    <result column="ItemBarcode" jdbcType="VARCHAR" property="itembarcode" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="TenantId" jdbcType="INTEGER" property="tenantid" />
    <result column="LayerCode" jdbcType="VARCHAR" property="layercode" />
    <result column="ExceptionMsg" jdbcType="VARCHAR" property="exceptionmsg" />
    <result column="OCRItemAuthor" jdbcType="VARCHAR" property="ocritemauthor" />
    <result column="OCRItemCallNo" jdbcType="VARCHAR" property="ocritemcallno" />
    <result column="OCRItemISBN" jdbcType="VARCHAR" property="ocritemisbn" />
    <result column="OCRItemPublisher" jdbcType="VARCHAR" property="ocritempublisher" />
    <result column="OCRItemTitle" jdbcType="VARCHAR" property="ocritemtitle" />
    <result column="OriginType" jdbcType="TINYINT" property="origintype" />
    <result column="LayerName" jdbcType="VARCHAR" property="layername" />
    <result column="LocLayerCode" jdbcType="VARCHAR" property="loclayercode" />
    <result column="LocLayerId" jdbcType="VARCHAR" property="loclayerid" />
    <result column="LocLayerName" jdbcType="VARCHAR" property="loclayername" />
    <result column="OffShelfTime" jdbcType="TIMESTAMP" property="offshelftime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <if test="fields == null">
      Id, CreationTime, CreatorUserId, LastModificationTime, LastModifierUserId, ItemTid, 
      ItemEpc, LayerId, Antenna, InventoryState, ItemBarcode, Remark, TenantId, LayerCode, 
      ExceptionMsg, OCRItemAuthor, OCRItemCallNo, OCRItemISBN, OCRItemPublisher, OCRItemTitle, 
      OriginType, LayerName, LocLayerCode, LocLayerId, LocLayerName, OffShelfTime
    </if>
    <if test="fields != null">
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" parameterType="com.library.owen.admin.model.LibiteminventoryinfoQuery" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from libiteminventoryinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="startRow != null">
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    Id,CreationTime,CreatorUserId,LastModificationTime,LastModifierUserId,ItemTid,ItemEpc,LayerId,Antenna,InventoryState,ItemBarcode,Remark,TenantId,LayerCode,ExceptionMsg,OCRItemAuthor,OCRItemCallNo,OCRItemISBN,OCRItemPublisher,OCRItemTitle,OriginType,LayerName,LocLayerCode,LocLayerId,LocLayerName,OffShelfTime
    from libiteminventoryinfo
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from libiteminventoryinfo
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.library.owen.admin.model.LibiteminventoryinfoQuery">
    delete from libiteminventoryinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.library.owen.admin.model.Libiteminventoryinfo">
    insert into libiteminventoryinfo (Id, CreationTime, CreatorUserId, 
      LastModificationTime, LastModifierUserId, 
      ItemTid, ItemEpc, LayerId, 
      Antenna, InventoryState, ItemBarcode, 
      Remark, TenantId, LayerCode, 
      ExceptionMsg, OCRItemAuthor, OCRItemCallNo, 
      OCRItemISBN, OCRItemPublisher, OCRItemTitle, 
      OriginType, LayerName, LocLayerCode, 
      LocLayerId, LocLayerName, OffShelfTime
      )
    values (#{id,jdbcType=VARCHAR}, #{creationtime,jdbcType=TIMESTAMP}, #{creatoruserid,jdbcType=BIGINT}, 
      #{lastmodificationtime,jdbcType=TIMESTAMP}, #{lastmodifieruserid,jdbcType=BIGINT}, 
      #{itemtid,jdbcType=VARCHAR}, #{itemepc,jdbcType=VARCHAR}, #{layerid,jdbcType=VARCHAR}, 
      #{antenna,jdbcType=VARCHAR}, #{inventorystate,jdbcType=TINYINT}, #{itembarcode,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{tenantid,jdbcType=INTEGER}, #{layercode,jdbcType=VARCHAR}, 
      #{exceptionmsg,jdbcType=VARCHAR}, #{ocritemauthor,jdbcType=VARCHAR}, #{ocritemcallno,jdbcType=VARCHAR}, 
      #{ocritemisbn,jdbcType=VARCHAR}, #{ocritempublisher,jdbcType=VARCHAR}, #{ocritemtitle,jdbcType=VARCHAR}, 
      #{origintype,jdbcType=TINYINT}, #{layername,jdbcType=VARCHAR}, #{loclayercode,jdbcType=VARCHAR}, 
      #{loclayerid,jdbcType=VARCHAR}, #{loclayername,jdbcType=VARCHAR}, #{offshelftime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.library.owen.admin.model.Libiteminventoryinfo">
    insert into libiteminventoryinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="creationtime != null">
        CreationTime,
      </if>
      <if test="creatoruserid != null">
        CreatorUserId,
      </if>
      <if test="lastmodificationtime != null">
        LastModificationTime,
      </if>
      <if test="lastmodifieruserid != null">
        LastModifierUserId,
      </if>
      <if test="itemtid != null">
        ItemTid,
      </if>
      <if test="itemepc != null">
        ItemEpc,
      </if>
      <if test="layerid != null">
        LayerId,
      </if>
      <if test="antenna != null">
        Antenna,
      </if>
      <if test="inventorystate != null">
        InventoryState,
      </if>
      <if test="itembarcode != null">
        ItemBarcode,
      </if>
      <if test="remark != null">
        Remark,
      </if>
      <if test="tenantid != null">
        TenantId,
      </if>
      <if test="layercode != null">
        LayerCode,
      </if>
      <if test="exceptionmsg != null">
        ExceptionMsg,
      </if>
      <if test="ocritemauthor != null">
        OCRItemAuthor,
      </if>
      <if test="ocritemcallno != null">
        OCRItemCallNo,
      </if>
      <if test="ocritemisbn != null">
        OCRItemISBN,
      </if>
      <if test="ocritempublisher != null">
        OCRItemPublisher,
      </if>
      <if test="ocritemtitle != null">
        OCRItemTitle,
      </if>
      <if test="origintype != null">
        OriginType,
      </if>
      <if test="layername != null">
        LayerName,
      </if>
      <if test="loclayercode != null">
        LocLayerCode,
      </if>
      <if test="loclayerid != null">
        LocLayerId,
      </if>
      <if test="loclayername != null">
        LocLayerName,
      </if>
      <if test="offshelftime != null">
        OffShelfTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="creationtime != null">
        #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatoruserid != null">
        #{creatoruserid,jdbcType=BIGINT},
      </if>
      <if test="lastmodificationtime != null">
        #{lastmodificationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifieruserid != null">
        #{lastmodifieruserid,jdbcType=BIGINT},
      </if>
      <if test="itemtid != null">
        #{itemtid,jdbcType=VARCHAR},
      </if>
      <if test="itemepc != null">
        #{itemepc,jdbcType=VARCHAR},
      </if>
      <if test="layerid != null">
        #{layerid,jdbcType=VARCHAR},
      </if>
      <if test="antenna != null">
        #{antenna,jdbcType=VARCHAR},
      </if>
      <if test="inventorystate != null">
        #{inventorystate,jdbcType=TINYINT},
      </if>
      <if test="itembarcode != null">
        #{itembarcode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tenantid != null">
        #{tenantid,jdbcType=INTEGER},
      </if>
      <if test="layercode != null">
        #{layercode,jdbcType=VARCHAR},
      </if>
      <if test="exceptionmsg != null">
        #{exceptionmsg,jdbcType=VARCHAR},
      </if>
      <if test="ocritemauthor != null">
        #{ocritemauthor,jdbcType=VARCHAR},
      </if>
      <if test="ocritemcallno != null">
        #{ocritemcallno,jdbcType=VARCHAR},
      </if>
      <if test="ocritemisbn != null">
        #{ocritemisbn,jdbcType=VARCHAR},
      </if>
      <if test="ocritempublisher != null">
        #{ocritempublisher,jdbcType=VARCHAR},
      </if>
      <if test="ocritemtitle != null">
        #{ocritemtitle,jdbcType=VARCHAR},
      </if>
      <if test="origintype != null">
        #{origintype,jdbcType=TINYINT},
      </if>
      <if test="layername != null">
        #{layername,jdbcType=VARCHAR},
      </if>
      <if test="loclayercode != null">
        #{loclayercode,jdbcType=VARCHAR},
      </if>
      <if test="loclayerid != null">
        #{loclayerid,jdbcType=VARCHAR},
      </if>
      <if test="loclayername != null">
        #{loclayername,jdbcType=VARCHAR},
      </if>
      <if test="offshelftime != null">
        #{offshelftime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.library.owen.admin.model.LibiteminventoryinfoQuery" resultType="java.lang.Long">
    select count(*) from libiteminventoryinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update libiteminventoryinfo
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.creationtime != null">
        CreationTime = #{record.creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatoruserid != null">
        CreatorUserId = #{record.creatoruserid,jdbcType=BIGINT},
      </if>
      <if test="record.lastmodificationtime != null">
        LastModificationTime = #{record.lastmodificationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastmodifieruserid != null">
        LastModifierUserId = #{record.lastmodifieruserid,jdbcType=BIGINT},
      </if>
      <if test="record.itemtid != null">
        ItemTid = #{record.itemtid,jdbcType=VARCHAR},
      </if>
      <if test="record.itemepc != null">
        ItemEpc = #{record.itemepc,jdbcType=VARCHAR},
      </if>
      <if test="record.layerid != null">
        LayerId = #{record.layerid,jdbcType=VARCHAR},
      </if>
      <if test="record.antenna != null">
        Antenna = #{record.antenna,jdbcType=VARCHAR},
      </if>
      <if test="record.inventorystate != null">
        InventoryState = #{record.inventorystate,jdbcType=TINYINT},
      </if>
      <if test="record.itembarcode != null">
        ItemBarcode = #{record.itembarcode,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantid != null">
        TenantId = #{record.tenantid,jdbcType=INTEGER},
      </if>
      <if test="record.layercode != null">
        LayerCode = #{record.layercode,jdbcType=VARCHAR},
      </if>
      <if test="record.exceptionmsg != null">
        ExceptionMsg = #{record.exceptionmsg,jdbcType=VARCHAR},
      </if>
      <if test="record.ocritemauthor != null">
        OCRItemAuthor = #{record.ocritemauthor,jdbcType=VARCHAR},
      </if>
      <if test="record.ocritemcallno != null">
        OCRItemCallNo = #{record.ocritemcallno,jdbcType=VARCHAR},
      </if>
      <if test="record.ocritemisbn != null">
        OCRItemISBN = #{record.ocritemisbn,jdbcType=VARCHAR},
      </if>
      <if test="record.ocritempublisher != null">
        OCRItemPublisher = #{record.ocritempublisher,jdbcType=VARCHAR},
      </if>
      <if test="record.ocritemtitle != null">
        OCRItemTitle = #{record.ocritemtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.origintype != null">
        OriginType = #{record.origintype,jdbcType=TINYINT},
      </if>
      <if test="record.layername != null">
        LayerName = #{record.layername,jdbcType=VARCHAR},
      </if>
      <if test="record.loclayercode != null">
        LocLayerCode = #{record.loclayercode,jdbcType=VARCHAR},
      </if>
      <if test="record.loclayerid != null">
        LocLayerId = #{record.loclayerid,jdbcType=VARCHAR},
      </if>
      <if test="record.loclayername != null">
        LocLayerName = #{record.loclayername,jdbcType=VARCHAR},
      </if>
      <if test="record.offshelftime != null">
        OffShelfTime = #{record.offshelftime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update libiteminventoryinfo
    set Id = #{record.id,jdbcType=VARCHAR},
      CreationTime = #{record.creationtime,jdbcType=TIMESTAMP},
      CreatorUserId = #{record.creatoruserid,jdbcType=BIGINT},
      LastModificationTime = #{record.lastmodificationtime,jdbcType=TIMESTAMP},
      LastModifierUserId = #{record.lastmodifieruserid,jdbcType=BIGINT},
      ItemTid = #{record.itemtid,jdbcType=VARCHAR},
      ItemEpc = #{record.itemepc,jdbcType=VARCHAR},
      LayerId = #{record.layerid,jdbcType=VARCHAR},
      Antenna = #{record.antenna,jdbcType=VARCHAR},
      InventoryState = #{record.inventorystate,jdbcType=TINYINT},
      ItemBarcode = #{record.itembarcode,jdbcType=VARCHAR},
      Remark = #{record.remark,jdbcType=VARCHAR},
      TenantId = #{record.tenantid,jdbcType=INTEGER},
      LayerCode = #{record.layercode,jdbcType=VARCHAR},
      ExceptionMsg = #{record.exceptionmsg,jdbcType=VARCHAR},
      OCRItemAuthor = #{record.ocritemauthor,jdbcType=VARCHAR},
      OCRItemCallNo = #{record.ocritemcallno,jdbcType=VARCHAR},
      OCRItemISBN = #{record.ocritemisbn,jdbcType=VARCHAR},
      OCRItemPublisher = #{record.ocritempublisher,jdbcType=VARCHAR},
      OCRItemTitle = #{record.ocritemtitle,jdbcType=VARCHAR},
      OriginType = #{record.origintype,jdbcType=TINYINT},
      LayerName = #{record.layername,jdbcType=VARCHAR},
      LocLayerCode = #{record.loclayercode,jdbcType=VARCHAR},
      LocLayerId = #{record.loclayerid,jdbcType=VARCHAR},
      LocLayerName = #{record.loclayername,jdbcType=VARCHAR},
      OffShelfTime = #{record.offshelftime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.library.owen.admin.model.Libiteminventoryinfo">
    update libiteminventoryinfo
    <set>
      <if test="creationtime != null">
        CreationTime = #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatoruserid != null">
        CreatorUserId = #{creatoruserid,jdbcType=BIGINT},
      </if>
      <if test="lastmodificationtime != null">
        LastModificationTime = #{lastmodificationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifieruserid != null">
        LastModifierUserId = #{lastmodifieruserid,jdbcType=BIGINT},
      </if>
      <if test="itemtid != null">
        ItemTid = #{itemtid,jdbcType=VARCHAR},
      </if>
      <if test="itemepc != null">
        ItemEpc = #{itemepc,jdbcType=VARCHAR},
      </if>
      <if test="layerid != null">
        LayerId = #{layerid,jdbcType=VARCHAR},
      </if>
      <if test="antenna != null">
        Antenna = #{antenna,jdbcType=VARCHAR},
      </if>
      <if test="inventorystate != null">
        InventoryState = #{inventorystate,jdbcType=TINYINT},
      </if>
      <if test="itembarcode != null">
        ItemBarcode = #{itembarcode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tenantid != null">
        TenantId = #{tenantid,jdbcType=INTEGER},
      </if>
      <if test="layercode != null">
        LayerCode = #{layercode,jdbcType=VARCHAR},
      </if>
      <if test="exceptionmsg != null">
        ExceptionMsg = #{exceptionmsg,jdbcType=VARCHAR},
      </if>
      <if test="ocritemauthor != null">
        OCRItemAuthor = #{ocritemauthor,jdbcType=VARCHAR},
      </if>
      <if test="ocritemcallno != null">
        OCRItemCallNo = #{ocritemcallno,jdbcType=VARCHAR},
      </if>
      <if test="ocritemisbn != null">
        OCRItemISBN = #{ocritemisbn,jdbcType=VARCHAR},
      </if>
      <if test="ocritempublisher != null">
        OCRItemPublisher = #{ocritempublisher,jdbcType=VARCHAR},
      </if>
      <if test="ocritemtitle != null">
        OCRItemTitle = #{ocritemtitle,jdbcType=VARCHAR},
      </if>
      <if test="origintype != null">
        OriginType = #{origintype,jdbcType=TINYINT},
      </if>
      <if test="layername != null">
        LayerName = #{layername,jdbcType=VARCHAR},
      </if>
      <if test="loclayercode != null">
        LocLayerCode = #{loclayercode,jdbcType=VARCHAR},
      </if>
      <if test="loclayerid != null">
        LocLayerId = #{loclayerid,jdbcType=VARCHAR},
      </if>
      <if test="loclayername != null">
        LocLayerName = #{loclayername,jdbcType=VARCHAR},
      </if>
      <if test="offshelftime != null">
        OffShelfTime = #{offshelftime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.library.owen.admin.model.Libiteminventoryinfo">
    update libiteminventoryinfo
    set CreationTime = #{creationtime,jdbcType=TIMESTAMP},
      CreatorUserId = #{creatoruserid,jdbcType=BIGINT},
      LastModificationTime = #{lastmodificationtime,jdbcType=TIMESTAMP},
      LastModifierUserId = #{lastmodifieruserid,jdbcType=BIGINT},
      ItemTid = #{itemtid,jdbcType=VARCHAR},
      ItemEpc = #{itemepc,jdbcType=VARCHAR},
      LayerId = #{layerid,jdbcType=VARCHAR},
      Antenna = #{antenna,jdbcType=VARCHAR},
      InventoryState = #{inventorystate,jdbcType=TINYINT},
      ItemBarcode = #{itembarcode,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      TenantId = #{tenantid,jdbcType=INTEGER},
      LayerCode = #{layercode,jdbcType=VARCHAR},
      ExceptionMsg = #{exceptionmsg,jdbcType=VARCHAR},
      OCRItemAuthor = #{ocritemauthor,jdbcType=VARCHAR},
      OCRItemCallNo = #{ocritemcallno,jdbcType=VARCHAR},
      OCRItemISBN = #{ocritemisbn,jdbcType=VARCHAR},
      OCRItemPublisher = #{ocritempublisher,jdbcType=VARCHAR},
      OCRItemTitle = #{ocritemtitle,jdbcType=VARCHAR},
      OriginType = #{origintype,jdbcType=TINYINT},
      LayerName = #{layername,jdbcType=VARCHAR},
      LocLayerCode = #{loclayercode,jdbcType=VARCHAR},
      LocLayerId = #{loclayerid,jdbcType=VARCHAR},
      LocLayerName = #{loclayername,jdbcType=VARCHAR},
      OffShelfTime = #{offshelftime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>